input{
	width:80px;
}
#format{
	width:50%;
	height:100%;
	border: 5px solid black;
	text-align: center;
	background: #a1a1a1;
	margin:5% auto;
	box-shadow: 0px 0px 30px #00008b;
}
.res{
	width:110px;
}
.resInter{
	width:200px;
}
