body{
	font-family: OpenSans Semibold;
}

a {
	color:inherit;
}
hr{
	margin:4em 3em 3em 1em;
}
h4{
	margin:0em;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height:1000px;
	border: 1px solid grey;
	background-image: url('../../images/bg.jpg');
	background-repeat: no-repeat;
}
.data{
	float:right;
	padding:3em 2em 0em 0em;
	color: white;
	text-align: right;
}
.data1{
	position:fixed;
	top:35em;
	left:7em;
	padding:2em;
}
.logos{
	height: 2em;
	width: 2em;
}
.data2{
	position:fixed;
	top:48em;
	left:7em;
	padding:1em;
	font-size: 13px;
	color:#C0C0C0;
}
.logo_c{
	height: 1em;
	width: 1em;
}
.moving{
	position:absolute;
	top:0em;
	left:310px;
	padding:3em;
	margin-right: 3em;
	color: #717171;
}
img{
	height:6em;
	width:6em;
	border-radius: 50px;
}
.buttons{
	position:relative;
	border: 2px solid #dddddd;
	background-color: white;
	border-radius: 5px;
	color: #757575;
	width:14em;
	height:3.5em;
	padding: 3px;
	font-size:12px;
}
div.img {
    margin: 1em 1em 1em 0em;
    padding: 2px;
    height: auto;
    width: auto;
    float: left;
}	
div.img img {
    margin: 2px;  
}
.scrnshots{
	height:12em;
	width: 22em;
	border-radius: 3px;
}
.sizeP{
	font-size: 1em;
}
.getIn{
	position: relative;
	height: auto;
	width: auto;
}
.con{
	margin-top: 2em;
	float: right;
}
.boxes{
	border:none;
	background-color: #F5F5F5;
	border-radius: 2px;
}
.details{
	width:20em;
	height:3.5em;
	padding: 2px;
	font-size:12px;
	margin-top: 2em;
	margin-bottom: 1.5em;
	color:#B0C4DE;
}
.messageBox{
	width:36.5em;
	height:10em;
	margin-bottom: 2.5em;
	color:#B0C4DE;
}
.marginn{
	position:relative;
	margin: 0em 10em 0em 0em;
}
button:hover {
    border-color: #479147;
    color: #479147;
}